* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.Header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: aqua;

  font-size: 1.2rem;
}
.Countrylist {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}
.countrylist-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  background-color: #555;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
}
img {
  margin: 20px;
  max-width: 150px;
  height: auto;
}
.countrycapital {
  margin: 10px 0;
}
.searchform {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px;
  height: 20px;
}
input,
button {
  margin: 10px;
  border: 2px solid rgb(76, 188, 202);
  min-width: 5rem;
  border-radius: 3px;
  height: 2rem;
  outline: none;
  font-weight: bold;
  padding: 0.5rem;
}
button {
  background-color: rgb(231, 248, 204);
}
button:hover {
  background-color: rgb(76, 188, 202);

  transition: all 0.5s ease;
  box-shadow: 2px 2px 15px black;
}
